<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <title>Messages</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/basic-features.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">One-to-All</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Messages</a>
                    </li>
                    <li>
                        <a href="#">Bulletin</a>
                    </li>
                    <li>
                        <a href="#">Calendar</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<div class="container">
  <h2>Messages</h2>
  <table class="table" >
    <thead>
      <tr>
        <th>Date</th>
        <th>Message</th>
          <th>Urgency</th>
      </tr>
    </thead>
    <tbody>
      {% if message_list %}
          {% for message in message_list %}
          {# active = white, info = blue, warning = orange, danger = red, success = green #}
      <form id="{{ message.timestamp }}" action="message" method="post">{% csrf_token %}
          {% if message.read == True %}
            <tr class="info" onclick="document.getElementById('{{ message.timestamp }}').submit()">
          {% else %}
              <tr class="active" onclick="document.getElementById('{{ message.timestamp }}').submit()">
          {% endif %}
            {# date #}
            <td>{{message.time}}</td>
            {# Message #}
            <td>{{message.content}}</td>
            {# Urgency #}
            <td>{{message.urgency}}</td>
          </tr>
          <input name="message" type="hidden" value="{{ message }}" />
      </form>
          {% endfor %}
      {% else %}
          <p>No messages are available.</p>
      {% endif %}
    </tbody>
  </table>
</div>


</body>
</html>