<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Calendar</title>

<!-- Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css">

    <!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'calendarPage/jquery.ui.core.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'calendarPage/jquery.ui.theme.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'calendarPage/jquery.ui.datepicker.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'calendarPage/calendarStyle.css' %}" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="{% static 'js/jquery-1.11.3.min.js' %}" type="text/javascript"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="{% static 'js/jquery-1.11.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.ui-1.10.4.datepicker.min.js' %}" type="text/javascript"></script>


</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../home">Apartment App</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="../createMessageView">Messages</a>
                </li>
                <li>
                    <a href="../bulletinBoard">Bulletin</a>
                </li>
                <li class="active">
                	<a href="../calendar">Calendar</a>
                </li>
				{% if request.user.is_staff %}
					<li>
						<a href="../managerSettings">Manager Settings</a>
					</li>
				{% endif %}
				<li>
                    <a href="../logoutUser">Log Out</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->

</nav>

<div class="container row" align="center">

  <div id="datepicker1"></div><!-- end datepicker1 -->
    <script>
        var events = [];
    </script>
        {% if eventList %}
            {% for event in eventList %}
                <script>
                    var startDate = new Date({{event.starttime}}*1000);
                    var endDate = new Date({{event.endtime}}*1000);
                    events.push({ Title: "{{event.title}}", Date: startDate, End: endDate, Content: "{{event.content}}" });
                </script>
            {% endfor %}
        {% endif %}
  		<script>
   			$('#datepicker1').datepicker({
        		inline: true,
				autoSize: true,
        		firstDay: 1,
        		showOtherMonths: true,
                changeMonth: true,
                changeYear: true,
        		dayNamesMin: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],

    		    beforeShowDay: function(date) {
                    var result = [true, '', null];
                    var end = new Date(date);
                    end.setHours(23,59,59);
                    var matching = $.grep(events, function(event) {
                        if (event.Date.valueOf() >= date.valueOf() && event.Date.valueOf() <= end.valueOf()) {
                            return true;
                        }
                        else if (event.Date.valueOf() <= date.valueOf() && event.End.valueOf() >= date.valueOf()) {
                            return true;
                        }
                        return false;
                    });

                    if (matching.length) {
                        result = [true, 'highlight', null];
                    }
                    return result;
                },

                onSelect: function(dateText) {
                    var date,
                        selectedDate = new Date(dateText),
                        end = new Date(dateText),
                        i = 0,
                        event = null;
                        end.setHours(23,59,59);

                    /* Determine if the user clicked an event: */
                    while (i < events.length && !event) {
                        date = events[i].Date;
                        endDate = events[i].End;

                        if (date.valueOf() >= selectedDate.valueOf() && date.valueOf() <= end.valueOf() ) {
                            event = events[i];
                        }
                        else if (selectedDate.valueOf() >= date.valueOf() && selectedDate.valueOf() <= endDate.valueOf()) {
                            event = events[i];
                        }
                        i++;
                    }
                    if (event) {
                        /* If the event is defined, perform some action here; show a tooltip, navigate to a URL, etc. */
                        alert(event.Title + "\nStart: " + event.Date + "\nEnd:   " + event.End + "\nDetails: " + event.Content);
                    }
                }
            });
		</script>
        <div id="calendar-foot" align="right" >
        	<input id="new-event-button" class="btn-primary" onclick="getdate()" data-toggle="modal" data-target="#myModal" type="button" value="+ Create a new event" />
        </div>
        <script>
            function getdate() {
                                  var tt = document.getElementById('datepicker1').value;

                                  var date = new Date(tt);
                                  var newdate = new Date(date);

                                  var dd = newdate.getDate();
                                  var mm = newdate.getMonth() + 1;
                                  var y = newdate.getFullYear();

                                  var someFormattedDate = mm + '/' + dd + '/' + y;
                                  document.getElementById('get-date').value = someFormattedDate;
                              }
        </script>


  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <p class="modal-title">Please create your new event</p>
        </div>
        <form action="sendEvent" method="post">{% csrf_token %}
            <div class="modal-body">
                <input class="event-text" type="text" name="title" placeholder="New Event"/>
                <input class="event-text" type="text" name="location" placeholder="Location"/>
                <input class="event-text" type="datetime-local" name="starttime"/>
                <input class="event-text" type="datetime-local" name="endtime"/>
                <input class="event-text" type="text" name="message" placeholder="Notes" />
            </div>
            <div class="modal-footer">
                <button type="submit" class="footer-button save-button btn-primary">Save</button>
                <button type="button" class="footer-button btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </form>
      </div>

    </div>
  </div>
</div>

</body>
</html>
