<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bulletin Board</title>


    <!-- Bootstrap Core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Bootstrap Core JavaScript -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bulletin/3-col-portfolio.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bulletinBoard/modal.css' %}" />


        <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../home">Apartment App</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="../createMessageView">Messages</a>
                </li>
                <li class="active">
                    <a href="../bulletinBoard">Bulletin</a>
                </li>
                <li>
                	<a href="../calendar">Calendar</a>
                </li>
				{% if request.user.is_staff %}
					<li>
						<a href="../managerSettings">Manager Settings</a>
					</li>
				{% endif %}
				<li>
                    <a href="../logoutUser">Log Out</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-10">
                <h1 class="page-header">
                    <font color="white">Bulletin Board</font>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Create New Bulletin</button>
                </h1>

            </div>
        </div>
        <!-- /.row -->

        {% if bulletin_list %}
            {% for bulletin in bulletin_list %}
            <form action="viewBulletin" method="post">{% csrf_token %}
                <input name="bulletinSender" type="hidden" value="{{ bulletin.sender }}" />
                <input name="bulletinTimestamp" type="hidden" value="{{ bulletin.timestamp }}" />
            <div class="col-md-3 portfolio-item" >
                <a>
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>

                <h3>
                    <a style="text-align:left;"><script>document.write("{{bulletin.subject}}")</script>
                    <span style="float:right;"><button class="btn btn-default" type="submit">Details</button></span>
                    </a>
                </h3>
                <p><script>document.write("{{bulletin.content}}")</script></p>

            </div>
            </form>
            {% endfor %}
        {% else %}
          <p>No bulletins are available.</p>
        {% endif %}

        <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <p class="modal-title">Create New Bulletin</p>
        </div>
        <form action="sendBulletin" method="post">{% csrf_token %}
            <div class="modal-body">
                <label><input class="event-text" type="text" name="subject" placeholder="New Bulletin"/></label>
                <label><textarea class="FormElement" name="message" placeholder="Notes" cols="43" rows="4"></textarea></label>
            </div>
            <div class="modal-footer">
                <button type="submit" id="saveEventButton" class="footer-button save-button btn-primary">Save</button>
                <button type="button" id="cancelEventButton" class="footer-button btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </form>
      </div>

    </div>
  </div>
    </div>
    <!-- /.container -->

</body>

</html>